<div class="login-status-header">

    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Salut, {{ userFullName }}!
    </div>

    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Conecteaza-te</button>

    <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">Deconecteaza-te</button>

    <button *ngIf="isAuthenticated" routerLink="/membri" class="security-btn ml-1">Membru</button>

    <button *ngIf="isAuthenticated" routerLink="/istoric-comenzi" class="security-btn ml-1">Comenzi</button>
</div>